html {
    background-color: yellow;
}

body {
    text-align: center;
}

h1 {
    font-size: 60px;
}

span {
    font-size: 250px;
    padding-bottom: 250px;
}

.botoes {
    background-color: purple;
    color:white;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    border-width: 3px;
    border-color: white;
}

#tempo {
    padding-top: 100px;
    padding-bottom: 200px;
}